<div class="container-fluid mt-4">
    <div class="row">
        {{#if this.mess}}
            <div class="col-sm-12">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Không thể xoá danh mục có sản phẩm</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {{/if}}
        {{> account-layout}}

        <div class="col-sm-9">
            <form id="editForm" method="post" action="/admin/editCatDe/del">
                <div class="card">
                    <h4 class="card-header text-white bg-secondary">
                        Chỉnh sửa danh mục
                    </h4>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="txtCatDeID">ID danh mục</label>
                            <input type="text" class="form-control mt-2" id="txtCatDeID" name="CatDeID" readonly
                                   value="{{this.categories_detail.CatDeID}}">
                        </div>
                        <div class="form-group mt-3">
                            <label for="txtCatDeName">Tên danh mục</label>
                            <input type="text" class="form-control mt-2" id="txtCatDeName" name="CatDeName"
                                   value="{{this.categories_detail.CatDeName}}" autofocus>
                        </div>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-outline-success" href="/admin/editCatDe/" role="button">
                            <i class="fa fa-rotate-back" aria-hidden="true"></i>
                            Trở về
                        </a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDel">
                            <i class="fa fa-trash-can" aria-hidden="true"></i>
                            Xoá
                        </button>
                        <button type="submit" class="btn btn-primary" formaction="/admin/editCatDe/save">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Lưu
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDel" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Xác nhận xoá</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Xác nhận xoá danh mục <b>{{this.categories_detail.CatDeName}}</b>?
            </div>
            <div class="modal-body text-center">
                <button type="button" class="btn btn-primary" id="cfmButton">Xác nhận</button>
                <span>&nbsp;</span>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>

{{#section 'footer'}}
    <script>
        $('#cfmButton').on('click', function (e){
            $('#editForm').submit();
        });
    </script>
{{/section}}