<div class="container-fluid mt-4">
    <div class="row">

        {{> account-layout}}

        <div class="col-sm-9">
            <div class="card">
                <h4 class="card-header d-flex justify-content-between container-fluid">
                    Danh mục cấp 2
                    <a class="btn btn-sm btn-outline-primary" href="/admin/editCatDe/add" role="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Thêm danh mục
                    </a>
                </h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên danh mục</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each LclCate}}
                        {{#each this.CDList}}
                            <tr>
                                <th scope="row">{{this.CatDeID}}-{{this.CatID}}</th>
                                <td>{{this.CatDeName}}</td>
                                <td class="text-sm-end">
                                    <a class="btn btn-primary" href="/admin/editCatDe/edit/{{this.CatDeID}}" style="background-color: darkcyan">
                                        <i class="fa fa-pencil-ruler" aria-hidden="true"></i>
                                        Chỉnh sửa
                                    </a>
                                </td>
                            </tr>
                        {{/each}}
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>