{{#section 'header'}}
    <link rel="stylesheet" href="/public/register.css">
{{/section}}

<form id="formChange" method="post">
    <div class="body-register">
        <div class="container-register">
            {{#if error}}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{error}}!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {{/if}}
            <div class="content-register">
                <div class="title">
                    <h1>
                        Thay đổi mật khẩu
                    </h1>
                </div>
                <div class="container-information">
                    <div>
                        <div class="grid mb-3">
                            <label for="pass">Mật khẩu mới:</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" id="pass" type="password" name="pass" autofocus>
                        </div>

                        <div class="grid">
                            <label for="Conpass" class="mb-2">Nhập lại mật khẩu</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" id="Conpass" type="password" name="Conpass">
                        </div>

                        <div class="grid"></div>

                        <div class="btn-register">
                            <input class="text-register" type="submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>