{{#section 'header'}}
    <link rel="stylesheet" href="/public/register.css">
{{/section}}

<form id="formForget" method="post">
    {{#if error}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{error}}!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{/if}}
    <div class="body-register">
        <div class="container-register">
            <div class="content-register">
                <div class="title">
                    <h1>
                        Nhập tài khoản Email
                    </h1>
                </div>
                <div>
                    </div>
                        <div class="grid mb-3">
                            <label for="email">Email:</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" id="email" type="text" name="email" autofocus>
                        </div>
                        <div style="height: 20px;"></div>
                        <div class="btn-register">
                            <input class="text-register" type="submit" id="Submit" value="Submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>