{{#section 'header'}}
    <link rel="stylesheet" href="/public/register.css">
{{/section}}

{{#if error}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="position: absolute; width: 100%; top: 0;">
        <strong>{{error}}!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}
<form id="formForget" method="post">
    <div class="body-register" style="padding-top: 80px; padding-bottom: 91px;" id="forget-view">
        <div class="container-register">
            <div class="content-register">
                <div class="title">
                    <h1>
                        Nhập tài khoản Email
                    </h1>
                </div>
                <div>
                    </div>
                        <div class="grid mb-3">
                            <label for="email">Email:</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" id="email" type="text" name="email" autofocus>
                        </div>
                        <div style="height: 20px;"></div>
                        <div class="btn-register">
                            <input class="text-register" type="submit" id="Submit" value="Tiếp tục">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{{#section 'footer'}}
    <script>
        const register_view = document.getElementById("forget-view")
        const height = Math.max(register_view.offsetHeight,window.innerHeight)-(document.getElementById("header-main").offsetHeight + document.getElementById("footer-main").offsetHeight)
        register_view.style.height = height + "px";
    </script>
{{/section}}