{{#section 'header'}}
    <link rel="stylesheet" href="/public/register.css">
{{/section}}

<form id="formRegister" method="post">
    <div class="body-register">
        <div class="container-register">
            <div class="content-register">
                <div class="title">
                    <h1>
                        Sign up
                    </h1>
                </div>
                <div class="container-information">
                    <div>
                        <div class="grid">
                            <label for="email">Email</label>
                        </span>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" id="email" type="email" name="email" autofocus>
                        </div>


                        <div class="grid">
                            <label for="name">Name</label>
                            </span>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" id="name" type="text" name="name">
                        </div>


                        <div class="grid">
                            <label for="password">Password</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" id="password" type="password" name="password">
                        </div>

                        <div class="grid">
                            <label for="password">Confirm Password</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" id="Conpassword" type="password" name="ConPassword">
                        </div>

                        <div class="grid"></div>
                        <div class="g-recaptcha" data-sitekey="6Le6CncdAAAAAGRBfTfdUzVKeTguRz1Q9lojjCfh"></div>


                        <div class="grid"></div>
                        <div class="btn-register">
                            <input class="text-register" type="submit" value="Register">
                        </div>
                    </div>
                </div>
                <div class="grid container-forgot">
                    <a href="/">
                        <div class="content-forgot">
                            Forgot password?
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

{{#section 'footer'}}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        $('#formRegister').on('submit',function (e){
            e.preventDefault();

            const formData = new FormData(document.getElementById("formRegister"))
            const captchaResponse = formData.get("g-recaptcha-response");

            console.log([...formData]);
            const email = $('#email').val();
            if(email.length === 0 ){
                alert('Email invalid!');
                location.reload();
                return;
            }

            const pass = $('#password').val();
            const conpass = $('#Conpassword').val();
            if(pass !== conpass){
                alert('Confirm your password');
                location.reload();
                return;
            }
            $.getJSON(`/account/register/check?email=${email}&recaptcha=`+encodeURI(captchaResponse),function (data){
                if(data === true){
                    $('#formRegister').off('submit').submit();
                }else if(data === 1){
                    alert('Please ReCaptcha');
                    location.reload();
                }else{
                    alert('Email exists');
                    location.reload();
                }
            });


        });
    </script>
{{/section}}