<div class="col-sm-3 ml-5">
    <div class="card mb-4">
        <div class="card-header">
            Quản lý hồ sơ
        </div>
        <div class="card-body">
            <div class="list-group ">
                <a href="/account/profile" class="list-group-item list-group-item-action">Thông tin tài khoản</a>
                <a href="/account/purchased" class="list-group-item list-group-item-action">Sản phẩm đã thắng</a>
                <a href="/account/tracking" class="list-group-item list-group-item-action">Theo dõi sản phẩm</a>
                <a href="/account/favorite" class="list-group-item list-group-item-action">Sản phẩm yêu thích</a>
                <a href="/account/review" class="list-group-item list-group-item-action">Đánh giá về tôi</a>
            </div>
        </div>
    </div>
    {{#if seller}}
        <div class="card">
            <div class="card-header">
                Quản lý sản phẩm
            </div>
            <div class="card-body">
                <div class="list-group">
                    <a href="/seller/bidding" class="list-group-item list-group-item-action">Sản phẩm đang đấu giá</a>
                    <a href="/account/purchased" class="list-group-item list-group-item-action">Sản phẩm kết thúc đấu giá</a>
                </div>
            </div>
        </div>
    {{/if}}
    {{#if this.isAdmin}}
        <div class="card mt-4 mb-3">
            <div class="card-header">
                Quản lý danh mục
            </div>
            <div class="card-body">
                <div class="list-group">
                    <a href="/admin/editCat" class="list-group-item list-group-item-action">Danh mục cấp 1</a>
                    <a href="/admin/editCatDe" class="list-group-item list-group-item-action">Danh mục cấp 2</a>
                </div>
            </div>
        </div>
    {{/if}}
</div>