<div class="container mt-5 mb-5">
    <h4 class="text-center mb-3">
        Top 5 sản phẩm gần kết thúc
    </h4>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-5">
        <div class="col">
            <div class="card">
                <a href="#"><img src="/public/assets/img/portfolio/1.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="#" class="ProTittle">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
                        Xem chi tiết
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <a href="#"><img src="/public/assets/img/portfolio/1.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="#" class="ProTittle">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
                        Xem chi tiết
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <a href="#"><img src="/public/assets/img/portfolio/1.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="#" class="ProTittle">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
                        Xem chi tiết
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <a href="#"><img src="/public/assets/img/portfolio/1.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="#" class="ProTittle">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
                        Xem chi tiết
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <a href="#"><img src="/public/assets/img/portfolio/1.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="#" class="ProTittle">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
                        Xem chi tiết
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <h4 class="text-center mb-3">
        Top 5 sản phẩm có nhiều lượt ra giá nhất
    </h4>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-5">
        <div class="col">
            <div class="card">
                <a href="#"><img src="/public/assets/img/portfolio/1.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="#" class="ProTittle">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
                        Xem chi tiết
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <a href="#"><img src="/public/assets/img/portfolio/1.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="#" class="ProTittle">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
                        Xem chi tiết
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <a href="#"><img src="/public/assets/img/portfolio/1.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="#" class="ProTittle">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
                        Xem chi tiết
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <a href="#"><img src="/public/assets/img/portfolio/1.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="#" class="ProTittle">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
                        Xem chi tiết
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <a href="#"><img src="/public/assets/img/portfolio/1.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="#" class="ProTittle">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
                        Xem chi tiết
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <h4 class="text-center mb-3">
        Top 5 sản phẩm có giá cao nhất
    </h4>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-5">
        <div class="col">
            <div class="card">
                <a href="#"><img src="/public/assets/img/portfolio/1.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="#" class="ProTittle">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
                        Xem chi tiết
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <a href="#"><img src="/public/assets/img/portfolio/1.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="#" class="ProTittle">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
                        Xem chi tiết
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <a href="#"><img src="/public/assets/img/portfolio/1.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="#" class="ProTittle">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
                        Xem chi tiết
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <a href="#"><img src="/public/assets/img/portfolio/1.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="#" class="ProTittle">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
                        Xem chi tiết
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <a href="#"><img src="/public/assets/img/portfolio/1.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="#" class="ProTittle">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
                        Xem chi tiết
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>