.logo {
    width: 60px;
    height: 60px;
}

.navbar-logo {
}

.back-ground {
    text-align: center;
    color: #fff;
    background-image: url(./imgs/background/background.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}


.card-layout {
    margin: auto 20px;
}

.justify-content-between {
    margin: auto 50px;
}

.carousel-control-prev-icon {
    background-image: url(public/imgs/detail.png);
    width: 32px;
    height: 32px;
}

.carousel-control-next-icon {
    background-image: url(public/imgs/detail.png);
    width: 32px;
    height: 32px;
}

.row {
    padding-left: 0;
}

.current_price {
    display: flex;
    justify-content: left;
}

.container-information {
    display: flex;
    justify-content: center;
}

.information {
    width: 700px;
}

.card-ended-count{

}

a {
    text-decoration: none !important;
}

a.ProTittle {
    color: black;
}

a.ProTittle:hover {
    color: blue;
}

span.signup_rec {
    font-size: 13px;
}

.proName {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-align: justify-all;
}

div.proTittle {
    /*padding: 1rem;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border-bottom: solid #eee;*/
}

.CurPrice, .StepPrice {
    justify-content: space-between;
}

a.ProDetail_Back {
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
}

a.ProDetail_Back span {
    margin-left: 1.5rem;
}

div.ProDetail_Favorite {
    color: #999;
    font-size: 1rem;
}

.TinyDes {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.NavBar {
    font-family: "Segoe UI", sans-serif;
}

.footer {
    /*clear: both;*/
    position: absolute;
    /*bottom: 0;*/
    width:100%;
    /*height:60px;   !* Height of the footer *!*/
    /*background:#6cf;*/
}

.ProDetail_Info {
    font-family: "Arial", serif;
}

.start-date{
    font-size: 16px;
    color: #999999;
    text-align: center;
    margin-top: 8px;
}

.start-date-at-view{
    font-size: 16px;
    color: #999999;
    text-align: center;
    margin-top: 1rem;
}

a.sort-btn{
    background-color: #d6d6d6;
}

a.sort-btn:hover{
    background-color: #d6d6d6;
}

#profile-view{
    margin-top: 18px;
}

.seller-bidding{
    margin-bottom: 112px;
}

.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

.ribbon {
    font: bold 15px Sans-Serif;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: red;
    color: white;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon:before, .ribbon:after {
    content: "";
    border-top:   3px solid #6e8900;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon:before {
    left: 0;
}
.ribbon:after {
    right: 0;
}